.goodList {
    img {
    width: 200px;
    height: 300px;
    }
    margin-left: 5px;
    margin-right: 5px;
}
.goodList:hover{
    border-color: red;
}
.goodInfo {
    display: inline-block;
    width: 200px;
}
#buy {
    position: fixed;
    top: 300px;
    right: 0px;
}